In [3]:
import pandas as pd
import numpy as np
autos = pd.read_csv("autos.csv", encoding="Latin-1")
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [4]:
cols = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_pictures', 'postal_code',
       'last_seen']
autos.columns = cols
autos.head()
#nr_pictures - is a candidate to be dropped

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [5]:
autos['price'] = autos['price'].str.replace("$","").str.replace(",",".")
autos['price'] = autos['price'].str.replace(".","").astype(int)

In [6]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null int64
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer              50000 non-null object
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_pictures           50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(6), object(14)
memory usage: 7.6+ MB

In [7]:
autos['odometer'] = autos['odometer'].str.replace("km","").str.replace(",","").astype(int)
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null int64
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer              50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_pictures           50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(7), object(13)
memory usage: 7.6+ MB

In [8]:
autos["price"]

0         5000
1         8500
2         8990
3         4350
4         1350
5         7900
6          300
7         1990
8          250
9          590
10         999
11         350
12        5299
13        1350
14        3999
15       18900
16         350
17        5500
18         300
19        4150
20        3500
21       41500
22       25450
23        7999
24       48500
25          90
26         777
27           0
28        5250
29        4999
         ...
49970    15800
49971      950
49972     3300
49973     6000
49974        0
49975     9700
49976     5900
49977     5500
49978      900
49979    11000
49980      400
49981     2000
49982     1950
49983      600
49984        0
49985     1000
49986    15900
49987    21990
49988     9550
49989      150
49990    17500
49991      500
49992     4800
49993     1650
49994     5000
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, Length: 50000, dtype: int64

In [9]:
autos.rename(columns={"odometer": "odometer_km"}, inplace=True)

In [10]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
date_crawled          50000 non-null object
name                  50000 non-null object
seller                50000 non-null object
offer_type            50000 non-null object
price                 50000 non-null int64
abtest                50000 non-null object
vehicle_type          44905 non-null object
registration_year     50000 non-null int64
gearbox               47320 non-null object
power_ps              50000 non-null int64
model                 47242 non-null object
odometer_km           50000 non-null int64
registration_month    50000 non-null int64
fuel_type             45518 non-null object
brand                 50000 non-null object
unrepaired_damage     40171 non-null object
ad_created            50000 non-null object
nr_pictures           50000 non-null int64
postal_code           50000 non-null int64
last_seen             50000 non-null object
dtypes: int64(7), object(13)
memory usage: 7.6+ MB

In [11]:
autos['seller'].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [12]:
autos['offer_type'].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [13]:
autos['price'].value_counts()

0         1421
500        781
1500       734
2500       643
1000       639
1200       639
600        531
800        498
3500       498
2000       460
999        434
750        433
900        420
650        419
850        410
700        395
4500       394
300        384
2200       382
950        379
1100       376
1300       371
3000       365
550        356
1800       355
5500       340
1250       335
350        335
1600       327
1999       322
          ...
46200        1
29600        1
13480        1
21700        1
7373         1
3279         1
4286         1
188          1
17830        1
9130         1
910          1
238          1
2671         1
69900        1
151990       1
2479         1
4510         1
86500        1
47499        1
16998        1
27299        1
41850        1
4780         1
686          1
6495         1
20790        1
8970         1
846          1
2895         1
33980        1
Name: price, Length: 2357, dtype: int64

In [14]:
autos['price'].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [15]:
autos['odometer_km'].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [16]:
autos['odometer_km'].value_counts()

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: odometer_km, dtype: int64

In [17]:
autos['price'].value_counts().sort_index(ascending=False).head()

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
Name: price, dtype: int64

In [18]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [19]:
autos['date_crawled'].str[:10]

0        2016-03-26
1        2016-04-04
2        2016-03-26
3        2016-03-12
4        2016-04-01
5        2016-03-21
6        2016-03-20
7        2016-03-16
8        2016-03-22
9        2016-03-16
10       2016-03-15
11       2016-03-16
12       2016-03-31
13       2016-03-23
14       2016-03-23
15       2016-04-01
16       2016-03-16
17       2016-03-29
18       2016-03-26
19       2016-03-17
20       2016-03-05
21       2016-03-06
22       2016-03-28
23       2016-03-10
24       2016-04-03
25       2016-03-21
26       2016-04-03
27       2016-03-27
28       2016-03-19
29       2016-04-02
            ...
49970    2016-03-21
49971    2016-03-29
49972    2016-03-26
49973    2016-03-27
49974    2016-03-20
49975    2016-03-27
49976    2016-03-19
49977    2016-03-31
49978    2016-04-04
49979    2016-03-20
49980    2016-03-12
49981    2016-03-15
49982    2016-03-29
49983    2016-03-06
49984    2016-03-31
49985    2016-04-02
49986    2016-04-04
49987    2016-03-22
49988    2016-03-28
49989    2016-03-11
49990    2016-03-21
49991    2016-03-06
49992    2016-03-10
49993    2016-03-15
49994    2016-03-22
49995    2016-03-27
49996    2016-03-28
49997    2016-04-02
49998    2016-03-08
49999    2016-03-14
Name: date_crawled, Length: 50000, dtype: object

In [20]:
autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.02538
2016-03-06    0.01394
2016-03-07    0.03596
2016-03-08    0.03330
2016-03-09    0.03322
2016-03-10    0.03212
2016-03-11    0.03248
2016-03-12    0.03678
2016-03-13    0.01556
2016-03-14    0.03662
2016-03-15    0.03398
2016-03-16    0.02950
2016-03-17    0.03152
2016-03-18    0.01306
2016-03-19    0.03490
2016-03-20    0.03782
2016-03-21    0.03752
2016-03-22    0.03294
2016-03-23    0.03238
2016-03-24    0.02910
2016-03-25    0.03174
2016-03-26    0.03248
2016-03-27    0.03104
2016-03-28    0.03484
2016-03-29    0.03418
2016-03-30    0.03362
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03540
2016-04-03    0.03868
2016-04-04    0.03652
2016-04-05    0.01310
2016-04-06    0.00318
2016-04-07    0.00142
Name: date_crawled, dtype: float64

In [21]:
autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2015-06-11    0.00002
2015-08-10    0.00002
2015-09-09    0.00002
2015-11-10    0.00002
2015-12-05    0.00002
2015-12-30    0.00002
2016-01-03    0.00002
2016-01-07    0.00002
2016-01-10    0.00004
2016-01-13    0.00002
2016-01-14    0.00002
2016-01-16    0.00002
2016-01-22    0.00002
2016-01-27    0.00006
2016-01-29    0.00002
2016-02-01    0.00002
2016-02-02    0.00004
2016-02-05    0.00004
2016-02-07    0.00002
2016-02-08    0.00002
2016-02-09    0.00004
2016-02-11    0.00002
2016-02-12    0.00006
2016-02-14    0.00004
2016-02-16    0.00002
2016-02-17    0.00002
2016-02-18    0.00004
2016-02-19    0.00006
2016-02-20    0.00004
2016-02-21    0.00006
               ...
2016-03-09    0.03324
2016-03-10    0.03186
2016-03-11    0.03278
2016-03-12    0.03662
2016-03-13    0.01692
2016-03-14    0.03522
2016-03-15    0.03374
2016-03-16    0.03000
2016-03-17    0.03120
2016-03-18    0.01372
2016-03-19    0.03384
2016-03-20    0.03786
2016-03-21    0.03772
2016-03-22    0.03280
2016-03-23    0.03218
2016-03-24    0.02908
2016-03-25    0.03188
2016-03-26    0.03256
2016-03-27    0.03090
2016-03-28    0.03496
2016-03-29    0.03414
2016-03-30    0.03344
2016-03-31    0.03192
2016-04-01    0.03380
2016-04-02    0.03508
2016-04-03    0.03892
2016-04-04    0.03688
2016-04-05    0.01184
2016-04-06    0.00326
2016-04-07    0.00128
Name: ad_created, Length: 76, dtype: float64

In [22]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index()

2016-03-05    0.00108
2016-03-06    0.00442
2016-03-07    0.00536
2016-03-08    0.00760
2016-03-09    0.00986
2016-03-10    0.01076
2016-03-11    0.01252
2016-03-12    0.02382
2016-03-13    0.00898
2016-03-14    0.01280
2016-03-15    0.01588
2016-03-16    0.01644
2016-03-17    0.02792
2016-03-18    0.00742
2016-03-19    0.01574
2016-03-20    0.02070
2016-03-21    0.02074
2016-03-22    0.02158
2016-03-23    0.01858
2016-03-24    0.01956
2016-03-25    0.01920
2016-03-26    0.01696
2016-03-27    0.01602
2016-03-28    0.02086
2016-03-29    0.02234
2016-03-30    0.02484
2016-03-31    0.02384
2016-04-01    0.02310
2016-04-02    0.02490
2016-04-03    0.02536
2016-04-04    0.02462
2016-04-05    0.12428
2016-04-06    0.22100
2016-04-07    0.13092
Name: last_seen, dtype: float64

In [23]:
autos['registration_year'].describe()

count    50000.000000
mean      2005.073280
std        105.712813
min       1000.000000
25%       1999.000000
50%       2003.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [24]:
#registration_year column contains some odd values: 
#The minimum value is 1000, before cars were invented. 
#The maximum value is 9999, many years into the future

In [25]:
#Because a car can't be first registered after the listing was seen, any vehicle with a registration year above 2016 is definitely inaccurate. Determining the earliest valid year is more difficult. Realistically, it could be somewhere in the first few decades of the 1900s.
#Let's count the number of listings with cars that fall outside the 1900 - 2016 interval and see if it's safe to remove those rows entirely, or if we need more custom logic.

In [26]:
autos['registration_year'].value_counts().sort_index()

1000       1
1001       1
1111       1
1500       1
1800       2
1910       9
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       5
1957       2
1958       4
1959       7
1960      34
1961       6
1962       4
1963       9
        ...
2001    2703
2002    2533
2003    2727
2004    2737
2005    3015
2006    2708
2007    2304
2008    2231
2009    2098
2010    1597
2011    1634
2012    1323
2013     806
2014     666
2015     399
2016    1316
2017    1453
2018     492
2019       3
2800       1
4100       1
4500       1
4800       1
5000       4
5911       1
6200       1
8888       1
9000       2
9996       1
9999       4
Name: registration_year, Length: 97, dtype: int64

In [27]:
#So cars with registration_year under the 1910 and above 2019 can be deleted

In [28]:
autos = autos[autos.loc[:,"registration_year"].between(1909,2018)]

In [29]:
autos['registration_year'].value_counts().sort_index()

1910       9
1927       1
1929       1
1931       1
1934       2
1937       4
1938       1
1939       1
1941       2
1943       1
1948       1
1950       3
1951       2
1952       1
1953       1
1954       2
1955       2
1956       5
1957       2
1958       4
1959       7
1960      34
1961       6
1962       4
1963       9
1964      12
1965      17
1966      22
1967      27
1968      26
        ...
1989     181
1990     395
1991     356
1992     391
1993     445
1994     660
1995    1313
1996    1444
1997    2028
1998    2453
1999    3000
2000    3354
2001    2703
2002    2533
2003    2727
2004    2737
2005    3015
2006    2708
2007    2304
2008    2231
2009    2098
2010    1597
2011    1634
2012    1323
2013     806
2014     666
2015     399
2016    1316
2017    1453
2018     492
Name: registration_year, Length: 80, dtype: int64

In [30]:
autos['brand'].value_counts()

volkswagen        10682
opel               5458
bmw                5428
mercedes_benz      4732
audi               4283
ford               3479
renault            2404
peugeot            1456
fiat               1308
seat                940
skoda               785
mazda               757
nissan              754
smart               701
citroen             700
toyota              617
sonstige_autos      541
hyundai             488
volvo               457
mini                424
mitsubishi          404
honda               398
kia                 356
alfa_romeo          328
porsche             294
suzuki              293
chevrolet           283
chrysler            181
dacia               129
daihatsu            128
jeep                109
subaru              108
land_rover           99
daewoo               79
saab                 79
jaguar               77
trabant              77
rover                69
lancia               57
lada                 31
Name: brand, dtype: int64

In [33]:
common_brands = {'volkswagen','opel','bmw','mercedes_benz','audi','ford','renault','peugeot','fiat'}
brand_mean_prices = {}

for brand in common_brands:
    brand_only = autos[autos["brand"] == brand] 
    mean_price = brand_only["price"].mean() 
    brand_mean_prices[brand] = int(mean_price)

In [36]:
brand_mean_prices

{'audi': 8965,
 'bmw': 8254,
 'fiat': 12134,
 'ford': 7105,
 'mercedes_benz': 29511,
 'opel': 5104,
 'peugeot': 3010,
 'renault': 2351,
 'volkswagen': 6385}

In [37]:
bmp_series = pd.Series(brand_mean_prices)
bmp_series

audi              8965
bmw               8254
fiat             12134
ford              7105
mercedes_benz    29511
opel              5104
peugeot           3010
renault           2351
volkswagen        6385
dtype: int64

In [38]:
common_brands = {'volkswagen','opel','bmw','mercedes_benz','audi','ford','renault','peugeot','fiat'}
brand_mean_km = {}

for brand in common_brands:
    brand_only = autos[autos["brand"] == brand] 
    mean_km = brand_only["odometer_km"].mean() 
    brand_mean_km[brand] = int(mean_km)

In [39]:
brand_mean_km

{'audi': 129643,
 'bmw': 132544,
 'fiat': 117037,
 'ford': 124131,
 'mercedes_benz': 130937,
 'opel': 129365,
 'peugeot': 127352,
 'renault': 128223,
 'volkswagen': 129012}

In [40]:
bmkm_series = pd.Series(brand_mean_km)
bmkm_series

audi             129643
bmw              132544
fiat             117037
ford             124131
mercedes_benz    130937
opel             129365
peugeot          127352
renault          128223
volkswagen       129012
dtype: int64

In [ ]:
#mean mileages are between 117037 and 132544 km, lowerest for fiat and the highest for bmw

In [41]:
autos['name'].value_counts()

Ford_Fiesta                                                          78
Volkswagen_Golf_1.4                                                  75
BMW_316i                                                             75
Volkswagen_Polo                                                      72
BMW_318i                                                             72
Opel_Corsa                                                           71
BMW_320i                                                             71
Renault_Twingo                                                       70
Volkswagen_Golf                                                      57
Opel_Corsa_1.2_16V                                                   56
BMW_116i                                                             53
Peugeot_206                                                          52
Opel_Corsa_B                                                         52
Ford_Focus                                                           50
Volkswagen_Polo_1.2                                                  48
Volkswagen_Golf_1.6                                                  47
Opel_Astra                                                           43
Opel_Corsa_1.0_12V                                                   41
Volkswagen_Passat_Variant_1.9_TDI                                    39
BMW_320d_DPF_Touring                                                 38
BMW_520i                                                             37
Opel_Astra_1.6                                                       35
Audi_A4_Avant_2.0_TDI_DPF                                            34
Renault_Twingo_1.2                                                   33
Ford_Mondeo                                                          32
Volkswagen_Golf_1.9_TDI                                              32
Fiat_Punto                                                           32
Ford_Ka                                                              30
Ford_Fiesta_1.3                                                      29
Volkswagen_Lupo_1.0                                                  29
                                                                     ..
HYUNDAI_SONATA_2;5_AUTOMATIK_silbermet                                1
Honda_Accord_2.3i_ES                                                  1
BMW_320_Ci_2.Hand__TÜV_3.2017_Scheckheft__Teilleder__Sitzheizung      1
Polo_Kombi_124000_Km_original_1_Jahr_Tuev                             1
MINI_Mini_Cooper_Cabrio__Xenon__Leder__Navi                           1
Opel_Corsa_C__kleine_Flitzer_mit_TÜV_!!!                              1
Audi_A4_Avant_3.0_TDI_DPF_quattro_tiptronic_S_line__Bang&Olufsen      1
Mercedes_Benz_E_320_CDI_Avantgarde_DPF_Sport_Edition                  1
Audi_A4___1.8___Limousine__ink._Sommer_und_Winterreifen_auf_Alu._     1
Volkswagen_Touran_2.0_TDI/Naxi/Leder/Xenon                            1
gepflegter_Fiat_Grande_Punto_1.3_Multijet_Diesel___neuer_TÜV          1
Unfall_Fahrzeug_Subaru_Justy_Allrad/_fahrtuechtig/TÜV_03/2017         1
Mercedes___Benz_Sprinter_315_CDI_Autm                                 1
Renault_Scenic_1.4_16V__1.HAND_TÜV_NEU!!!                             1
MINI_Mini_John_Cooper_Works_Coupe_Aut._Ps_279_garanti                 1
Seat_Ibiza_1.4_16V_Sport_Edition__Klima___Anhaengerkupplung           1
Schoener_Polo                                                         1
Audi_TT_8j                                                            1
Hyundai_I_10__5_Star_Edition_Sonderedittion                           1
Renault_Kangoo_1_6_mit_LPG_Gasanlage                                  1
Golf_3_44kw/75Ps                                                      1
Audi_A6_Avant_S_Line                                                  1
Tausche_Smart_Cabrio                                                  1
Skoda_Fabia_1.4_16V_Combi_Exact                                       1
Top_Mercedes_Benz_E_280_CDI_Avantgarde_TÜV_NEU                        1
Suzuki_Grand_Vitara_2.0_Automatik_Comfort_+                           1
Ford_Focus_1_4_fuer_Export_oder_zum_Schlachten                        1
Nissan_Micra_1.0_Sport_K11                                            1
Volkswagen_Golf_2.9_Syncro_VR6                                        1
Bmw116i_Benzin_Scheckheft_Tuev2017_Nichtraucher_ca.158_tkm_koeln      1
Name: name, Length: 38729, dtype: int64

In [42]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [43]:
autos['model'].value_counts()

golf                  4022
andere                3523
3er                   2761
polo                  1757
corsa                 1734
astra                 1454
passat                1425
a4                    1291
5er                   1183
c_klasse              1172
e_klasse              1001
a3                     882
a6                     835
focus                  811
fiesta                 769
transporter            704
twingo                 677
2_reihe                621
a_klasse               587
fortwo                 574
vectra                 574
1er                    538
clio                   509
3_reihe                508
mondeo                 496
touran                 468
punto                  458
zafira                 423
ka                     370
megane                 362
                      ...
sirion                  12
gl                      12
forester                12
mii                     10
r19                     10
lybra                   10
terios                  10
move                    10
range_rover              9
90                       9
nubira                   8
amarok                   7
exeo                     7
delta                    6
crossfire                6
145                      5
9000                     5
croma                    5
range_rover_evoque       5
lodgy                    5
materia                  4
samara                   4
charade                  3
v60                      3
kappa                    2
kalina                   2
rangerover               1
i3                       1
200                      1
b_max                    1
Name: model, Length: 245, dtype: int64

In [44]:
autos['gearbox'].value_counts()

manuell      36986
automatik    10323
Name: gearbox, dtype: int64

In [45]:
autos['power_ps'].value_counts()

0        5483
75       3170
60       2195
150      2046
140      1882
101      1756
90       1746
116      1646
170      1491
105      1410
125       963
136       955
102       868
163       847
54        759
143       733
131       713
122       710
110       694
109       620
50        604
80        560
177       542
58        506
120       501
115       481
69        475
45        397
95        382
68        380
         ...
3750        1
999         1
455         1
442         1
1082        1
678         1
454         1
187         1
441         1
585         1
460         1
5867        1
9011        1
268         1
236         1
1367        1
24          1
12          1
1771        1
1003        1
587         1
696         1
952         1
1016        1
682         1
650         1
490         1
362         1
153         1
16312       1
Name: power_ps, Length: 448, dtype: int64

In [46]:
autos['abtest'].value_counts()

test       25742
control    24231
Name: abtest, dtype: int64